extends ../layout
block content
  h3 Scanned Information
      ul(data-role="listview",data-inset="true")
        li(data-role="list-divider") Fruits
        li
          a(href="#") PLANTAIN
          span.ui-li-count 12
        li(data-role="list-divider") Vegetables
        li
          a(href="#") CELERY
          span.ui-li-count 5
        li(data-role="list-divider") Meat
        li
          a(href="#") Steak
          span.ui-li-count 16
      div(data-role="controlgroup")
        button.ui-btn.ui-btn-icon-left.ui-icon-edit Change
        button.ui-btn.ui-btn-icon-left.ui-icon-check.confirm Confirm