extends ../layout
block content
  h3 Scanned Information
      ul(data-role="listview",data-autodividers="true",data-inset="true")
        li
          a(href="#") 
          span.ui-li-count 2
        li
          a(href="#") PLANTAIN
          span.ui-li-count 12
        li
          a(href="#") CELERY
          span.ui-li-count 5
        li
          a(href="#") Steak
          span.ui-li-count 16
      div(data-role="controlgroup")
        button.ui-btn.ui-btn-icon-left.ui-icon-edit Change
        button.ui-btn.ui-btn-icon-left.ui-icon-check.confirm Confirm