extends ../layout

block content
    h3 Add a receipt
    form(action="/receipts" method="post" enctype="multipart/form-data")
      input(type="file" accept="image/*;capture=camera" name="image")
      input(type="submit" value="Submit")