extends layout

block content
  h1= title
  p Welcome to #{title}

  h3 Add a reciept
  input(type="file" accept="image/*;capture=camera")

  table#movie-table.ui-responsive(data-role='table', data-mode='reflow')
      thead
        tr
          th(data-priority='1') ID
          th(data-priority='persist') Ingredient
          th(data-priority='2') Good until
          th(data-priority='4') Recipe Count
      tbody
        tr
          th 1
          td
            a(href='#', data-rel='external') Milk
          td 1941
          td 100%
          td 74
        tr
          th 2
          td
            a(href='#', data-rel='external') Eggs
          td 1942
          td 97%
          td 64
        tr
          th 3
          td
            a(href='#', data-rel='external') Broccoli
          td 1972
          td 97%
          td 87
        tr
          th 4
          td
            a(href='#', data-rel='external') Steak
          td 1939
          td 96%
          td 87
        tr
          th 5
          td
            a(href='#', data-rel='external') Pasta Sauce
          td 1962
          td 94%
          td 87
        tr
          th 6
          td
            a(href='#', data-rel='external') Orange Juice
          td 1964
          td 92%
          td 74
        tr
          th 7
          td
            a(href='#', data-rel='external') Yogurt
          td 1967
          td 91%
          td 122
        tr
          th 8
          td
            a(href='#', data-rel='external') Twinkies
          td 1939
          td 90%
          td 72
        tr
