extends layout_nobuttons

block content
  form(action="/" method="post")
    input(type="text" name="username" value="angelhack")
    input(type="password" name="password" value = "much password. such strength")
    input(type="submit" value="Login")