body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table {
  margin-top: 15px;
}

.confirm{
  background-color: #004C00 !important;
  text-shadow: none !important;
}